.comments
    center(rem(800px))
    padding 0 rem(20px)
    h3
        margin 0 0 rem(30px)
        font-size rem(30px)

footer
    background-color sec
    padding rem(25px) 0
    margin-top 100px
    h4
        text-decoration none
        secFont(500)
        color main
        text-align center
        margin 0
        font-size rem(14px)
    p,a
        text-decoration none
        secFont(300)
        color main
        text-align center
        margin 0
        font-size rem(12px)
    .contact-buttons
        list-style-type none
        text-align center
    .contact-buttons li
        display inline-block
        text-align center
    i
        padding 0px 10px
        text-align center
