<!DOCTYPE html>
<html lang="en" itemscope itemtype="http://schema.org/BlogPosting" {% if page.main-class %}class="post-{{ page.main-class }}"{% endif %}>
    {% include head.html %}
    <body>
        {% include header-post.html %}

        <div class="sticky-container">
        <ul class="sticky">
            <li id = "sticky-fb">
                <a aria-label="Share on Facebook"href="https://www.facebook.com/sharer/sharer.php?u={{ site.url }}{{ site.baseurl }}{{ page.url }}"
                onclick="window.open(this.href, 'facebook-share','width=580,height=296');return false;" title="Share on Facebook">
                    <i class="fa fa-facebook" aria-hidden="true"></i>
                </a>
            <li id = "sticky-twitter">
                <a aria-label="Share on Twitter" href="https://twitter.com/intent/tweet?text=&quot;{{ page.twitter_text }}&quot;%20{{ site.url }}{{ site.baseurl }}{{ page.url }}%20via%20&#64;{{ site.twitter_username }}&hashtags={% for tag in page.tags %}{{tag}},{% endfor %}"
                onclick="window.open(this.href, 'twitter-share', 'width=550,height=235');return false;" title="Share on Twitter">
                    <i class="fa fa-twitter" aria-hidden="true"></i>
                </a>
            </li>
            <li id = "sticky-linkedin">
                <a aria-label="Share on LinkedIn" href="https://www.linkedin.com/shareArticle?mini=true&url={{ site.url }}{{ site.baseurl }}{{ page.url }}"
                onclick="window.open(this.href, 'linkedin-share', 'width=550,height=235');return false;" title="Share on LinkedIn">
                    <i class="fa fa-linkedin" aria-hidden="true"></i>
                </a>
            </li>

            
        </ul>
    </div>
        <section class="post">

            <article role="article" id="post" class="post-content" itemprop="articleBody">
                {{ content }}
            </article>
            {% include share.html %}
            {% include footer.html %}
        </section>
    </body>
</html>
